.style_navbar{
    height: 45px;
    width: 100%;
    background: rgb(76, 51, 152);
}

.style_container{
    width: 85%;
    margin: auto;
}


.style_flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .style_login .style_language,.style_log_in, .style_register {
    display: inline-flex;
    margin-right: 2rem;
    position: relative;
    bottom: -.7rem;
  }
  

  .style_logo a{
    color: white;
    text-decoration: none;
    padding: 5px 25px 16px 25px;
    position: relative;
    bottom: -.5rem;
    font-weight: 600;
    font-size: 14px;
    width: auto;
    height: auto;
    margin: 0.1rem;



  }
  .active-span {
    color: yellow; /* veya başka bir renk */

  }
  .active-link {
    background-color: rgb(93, 62, 188);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

  .style_logo a:hover{
    background-color: rgb(93, 62, 188);
     padding: 5px 25px 16px 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0.1rem;
  }

.style_language button{
  background: none;
  border: none;
  color: white;
}
  .style_register button{
  background: none;
  border: none;
  color: white;
}
 .style_log_in button{
  background: none;
  border: none;
  color: white;
}



.header_logo{
  position: relative;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background-color: #5d3ebc;
}
.header_logo{
  display: none;
}

.header_logo .header_img{
justify-content: center !important;
display: flex;
width: 100%;
}



@media screen and (max-width: 918px) {
  .style_login button{
    display: none;
  }
  .style_container{
    width: 95%;
  }
}

@media screen and (max-width: 570px) {
 
  .style_logo a{
    width: auto;
    padding: 5px 5px 20px 5px;
  }
  .style_logo a:hover{
    width: auto;
    padding: 5px 5px 20px 5px;
  }
}
@media screen and (min-width: 760px) {
  .style_navbar {
    position: fixed;
    z-index: 1000; /* Örnek bir z-index değeri */
  }
  
}


@media screen and (max-width: 760px) {
  .header_logo {
  display: block;
  }
  .style_login{
    display: none !important;
  }
 
  .style_navbar{
    display: block;
  }

  .header_logo .header_img {
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Dikeyde ortalamak için eklenen satır */
    width: 100%;
    height: 100%; /* Veya istediğiniz başka bir değer */
  }

 

}


